openapi: 3.2.0
info:
  title: DataDome Management Trusted Proxies API
  description: DataDome's management API for configuring account settings, endpoints, custom rules, trusted proxies, verified models, Priority Protect priorities and templates, and Account Protect decision feedback.
  version: 1.1.0
servers:
- url: https://api-management.datadome.co
  description: DataDome management API base URL
security:
- apiKey: []
tags:
- name: TrustedProxies
paths:
  /1.1/protection/trustedproxies:
    get:
      tags:
      - TrustedProxies
      summary: List trusted proxies
      responses:
        '200':
          description: Trusted proxies
      operationId: get11ProtectionTrustedproxies
      x-operation-id-source: derived
    post:
      tags:
      - TrustedProxies
      summary: Add trusted proxy
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                cidr:
                  type: string
                description:
                  type: string
      responses:
        '201':
          description: Created
      operationId: post11ProtectionTrustedproxies
      x-operation-id-source: derived
  /1.1/protection/trustedproxies/{trustedProxyId}:
    parameters:
    - in: path
      name: trustedProxyId
      required: true
      schema:
        type: string
    put:
      tags:
      - TrustedProxies
      summary: Update trusted proxy
      requestBody:
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Updated
      operationId: put11ProtectionTrustedproxiesByTrustedProxyId
      x-operation-id-source: derived
    delete:
      tags:
      - TrustedProxies
      summary: Remove trusted proxy
      responses:
        '204':
          description: Deleted
      operationId: delete11ProtectionTrustedproxiesByTrustedProxyId
      x-operation-id-source: derived
components:
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: x-api-key
      description: DataDome management API key issued in the customer dashboard.
