openapi: 3.2.0
info:
  title: DataDome Management Custom Rules API
  description: DataDome's management API for configuring account settings, endpoints, custom rules, trusted proxies, verified models, Priority Protect priorities and templates, and Account Protect decision feedback.
  version: 1.1.0
servers:
- url: https://api-management.datadome.co
  description: DataDome management API base URL
security:
- apiKey: []
tags:
- name: Custom Rules
paths:
  /1.1/protection/custom-rules:
    get:
      tags:
      - Custom Rules
      summary: List custom rules
      responses:
        '200':
          description: Custom rules
      operationId: get11ProtectionCustomRules
      x-operation-id-source: derived
    post:
      tags:
      - Custom Rules
      summary: Create custom rule
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                action:
                  type: string
                conditions:
                  type: array
                  items:
                    type: object
      responses:
        '201':
          description: Created
      operationId: post11ProtectionCustomRules
      x-operation-id-source: derived
  /1.1/protection/custom-rules/{customRuleId}:
    parameters:
    - in: path
      name: customRuleId
      required: true
      schema:
        type: string
    put:
      tags:
      - Custom Rules
      summary: Update custom rule
      requestBody:
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Updated
      operationId: put11ProtectionCustomRulesByCustomRuleId
      x-operation-id-source: derived
    delete:
      tags:
      - Custom Rules
      summary: Delete custom rule
      responses:
        '204':
          description: Deleted
      operationId: delete11ProtectionCustomRulesByCustomRuleId
      x-operation-id-source: derived
components:
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: x-api-key
      description: DataDome management API key issued in the customer dashboard.
