openapi: 3.1.0
info:
  title: DataDome Management API
  description: >-
    DataDome's management API for configuring account settings, endpoints,
    custom rules, trusted proxies, verified models, Priority Protect priorities
    and templates, and Account Protect decision feedback.
  version: "1.1.0"
servers:
  - url: https://api-management.datadome.co
    description: DataDome management API base URL
security:
  - apiKey: []
tags:
  - name: Account
  - name: Endpoints
  - name: CustomRules
  - name: TrustedProxies
  - name: VerifiedModels
  - name: Priorities
  - name: Templates
  - name: AccountProtect
paths:
  /1.0/account-settings:
    get:
      tags: [Account]
      summary: Retrieve account parameters
      responses:
        '200': { description: Account settings }
    patch:
      tags: [Account]
      summary: Update account parameters
      requestBody:
        content:
          application/json:
            schema: { type: object }
      responses:
        '200': { description: Updated }
  /1.0/account-endpoints:
    get:
      tags: [Account]
      summary: List account endpoints
      responses:
        '200': { description: Endpoints }
  /1.0/account-usage:
    get:
      tags: [Account]
      summary: Get account usage metrics
      responses:
        '200': { description: Usage metrics }
  /1.0/account-usage-by-endpoint:
    get:
      tags: [Account]
      summary: Get account usage by endpoint
      responses:
        '200': { description: Usage breakdown }
  /1.0/endpoints:
    get:
      tags: [Endpoints]
      summary: List endpoints
      responses:
        '200': { description: Endpoints }
    post:
      tags: [Endpoints]
      summary: Create endpoint
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name: { type: string }
                type: { type: string }
      responses:
        '201': { description: Created }
  /1.0/endpoints/{id}:
    parameters:
      - in: path
        name: id
        required: true
        schema: { type: string }
    get:
      tags: [Endpoints]
      summary: Get endpoint
      responses:
        '200': { description: Endpoint }
    patch:
      tags: [Endpoints]
      summary: Update endpoint
      requestBody:
        content:
          application/json:
            schema: { type: object }
      responses:
        '200': { description: Updated }
    delete:
      tags: [Endpoints]
      summary: Delete endpoint
      responses:
        '204': { description: Deleted }
  /1.1/protection/custom-rules:
    get:
      tags: [CustomRules]
      summary: List custom rules
      responses:
        '200': { description: Custom rules }
    post:
      tags: [CustomRules]
      summary: Create custom rule
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name: { type: string }
                action: { type: string }
                conditions:
                  type: array
                  items: { type: object }
      responses:
        '201': { description: Created }
  /1.1/protection/custom-rules/{customRuleId}:
    parameters:
      - in: path
        name: customRuleId
        required: true
        schema: { type: string }
    put:
      tags: [CustomRules]
      summary: Update custom rule
      requestBody:
        content:
          application/json:
            schema: { type: object }
      responses:
        '200': { description: Updated }
    delete:
      tags: [CustomRules]
      summary: Delete custom rule
      responses:
        '204': { description: Deleted }
  /1.1/protection/trustedproxies:
    get:
      tags: [TrustedProxies]
      summary: List trusted proxies
      responses:
        '200': { description: Trusted proxies }
    post:
      tags: [TrustedProxies]
      summary: Add trusted proxy
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                cidr: { type: string }
                description: { type: string }
      responses:
        '201': { description: Created }
  /1.1/protection/trustedproxies/{trustedProxyId}:
    parameters:
      - in: path
        name: trustedProxyId
        required: true
        schema: { type: string }
    put:
      tags: [TrustedProxies]
      summary: Update trusted proxy
      requestBody:
        content:
          application/json:
            schema: { type: object }
      responses:
        '200': { description: Updated }
    delete:
      tags: [TrustedProxies]
      summary: Remove trusted proxy
      responses:
        '204': { description: Deleted }
  /1.1/protection/verified-models:
    get:
      tags: [VerifiedModels]
      summary: List verified models (Agentic Trust)
      responses:
        '200': { description: Verified models }
  /priorities:
    get:
      tags: [Priorities]
      summary: List priorities (Priority Protect)
      responses:
        '200': { description: Priorities }
    post:
      tags: [Priorities]
      summary: Create priority
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name: { type: string }
                rank: { type: integer }
      responses:
        '201': { description: Created }
  /priorities/{id}:
    parameters:
      - in: path
        name: id
        required: true
        schema: { type: string }
    get:
      tags: [Priorities]
      summary: Retrieve a priority
      responses:
        '200': { description: Priority }
    patch:
      tags: [Priorities]
      summary: Update a priority
      requestBody:
        content:
          application/json:
            schema: { type: object }
      responses:
        '200': { description: Updated }
    delete:
      tags: [Priorities]
      summary: Delete a priority
      responses:
        '204': { description: Deleted }
  /priorities/{id}/metrics:
    get:
      tags: [Priorities]
      summary: Get priority metrics
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string }
      responses:
        '200': { description: Metrics }
  /templates:
    get:
      tags: [Templates]
      summary: List templates
      responses:
        '200': { description: Templates }
    post:
      tags: [Templates]
      summary: Create template
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name: { type: string }
                body: { type: object }
      responses:
        '201': { description: Created }
  /templates/{id}:
    parameters:
      - in: path
        name: id
        required: true
        schema: { type: string }
    get:
      tags: [Templates]
      summary: Retrieve a template
      responses:
        '200': { description: Template }
    patch:
      tags: [Templates]
      summary: Update a template
      requestBody:
        content:
          application/json:
            schema: { type: object }
      responses:
        '200': { description: Updated }
    delete:
      tags: [Templates]
      summary: Delete a template
      responses:
        '204': { description: Deleted }
  /account-protect/decision-feedback:
    post:
      tags: [AccountProtect]
      summary: Submit feedback on Account Protect decisions
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                requestId: { type: string }
                feedback: { type: string }
                accountId: { type: string }
      responses:
        '200': { description: Recorded }
components:
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: x-api-key
      description: DataDome management API key issued in the customer dashboard.
